/* Start Global Rules */
:root {
  --text-color: hsl(200, 15%, 8%);
  --input-color: hsl(0, 0%, 52%);
  --bg-color: hsl(0, 0%, 98%);
  --element-color: hsl(0, 0%, 100%);
  --main-shadow: 0 0 10px 4px #eee;
  --main-transition: 0.4s;
}
:root#dark {
  --text-color: hsl(200, 15%, 92%);
  --input-color: hsl(0, 0%, 80%);
  --bg-color: hsl(207, 26%, 17%);
  --element-color: hsl(209, 23%, 22%);
  --main-shadow: 0 0 10px 4px #23222278;
  --main-transition: 0.4s;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
}
.fs-14 {
  font-size: 14px;
}
%main-shadow {
  box-shadow: var(--main-shadow);
}
/* End Global Rules */
/* Start Header */
header {
  background-color: var(--element-color);
  box-shadow: 0 -2px 5px 0px var(--dark-element);
  .container {
    min-height: 80px;
    h3 {
      font: {
        size: 25px;
        weight: 800;
      }
      @media (max-width: 767px) {
        & {
          font-size: 18px;
        }
      }
    }
    button {
      padding: 8px 12px;
      border-radius: 50px;
      border: 2px solid var(--text-color);
      background-color: transparent;
      color: var(--text-color);
    }
  }
}
/* End Header */
/* Start Main */
main {
  padding: 60px 0;
  .filter {
    form {
      color: var(--input-color);
      background-color: var(--element-color);
      @extend %main-shadow;
      padding-left: 20px;
      input {
        width: 400px;
        background-color: transparent;
        outline: none;
        color: inherit;
      }
      i {
        cursor: pointer;
      }
    }
    .filter-box {
      @extend %main-shadow;
      width: 250px;
      font-size: 14px;
      padding: 15px 20px;
      cursor: pointer;
      p {
        font: {
          size: 15px;
          weight: 500;
        }
      }
      i {
        font-size: 13px;
        transition: var(--main-transition);
        &.close {
          transform: rotate(180deg);
        }
      }
      .select-counrty {
        &.show {
          display: block;
        }
        display: none;
        top: calc(100% + 8px);
        left: 0;
        background-color: var(--element-color);
        font-weight: 600;
      }
      li {
        &:not(:last-child) {
          padding-bottom: 10px;
        }
      }
    }
  }
  .countries {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 80px;
    @media (max-width: 768px) {
      & {
        gap: 40px;
      }
    }
    .product {
      &.hide {
        display: none;
      }
      @extend %main-shadow;
      background-color: var(--element-color);
      border-radius: 5px;
      cursor: pointer;
      .image {
        height: 150px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .info {
        padding: 20px 20px 40px;
        a {
          color: var(--text-color);
          h3 {
            margin-bottom: 20px;
            font: {
              size: 18px;
              weight: 800;
            };
          }
        }
        ul {
          li {
            font-size: 15px;
            &:not(:last-child) {
              padding-bottom: 10px;
            }
            span {
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
%main-transition {
  transition: var(--main-transition);
  &:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
  }
}
/* End Main */
/* Start Country Infomation Sec */
$padding: 60px;
.country-infomation {
  padding: $padding 0;
  .container {
    a.back {
      width: fit-content;
      background-color: var(--element-color);
      color: var(--text-color);
      padding: 8px 30px;
      border-radius: 5px;
      border: none;
      @extend %main-shadow;
      @extend %main-transition;
    }
    .country-details {
      padding: $padding 0;
      .image {
        height: 360px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .details {
        .links {
          ul {
            li {
              color: var(--input-color);
              @extend .fs-14 ;
              p {
                color: var(--text-color);
                font-weight: bold;
                span {
                  color: var(--input-color);
                  font-weight: normal;
                }
              }
            }
          }
        }
        .country-border {
          ul {
            li {
              padding: 5px 25px;
              @extend .fs-14;
              border-radius: 5px;
              background-color: var(--element-color);
              @extend %main-shadow;
              transition: var(--main-transition);
              &:hover {
                @extend %main-transition;
              }
            }
          }
        }
      }
    }
  }
}
/* End Country Infomation Sec */